{% extends "base.html" %}
{% load i18n %}

{% block content %}

<div class="text-center col-lg-12">
  <h1><a href="/">Home page</a></h1>
</div>
<div style="font-size:40px; color:green;" class=" text-center">
404. {% trans "Page not found" %}
</div>
{% endblock %}
