{% load i18n %}
<!DOCTYPE html>
<html lang="ru">
<head>
<title>{% block title %}{% trans 'Wallpapers' %}{% endblock %}</title>
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}/css/main.css?2" media="screen" />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">
<link type="image/png" href="{{ STATIC_URL }}img/icon.png?id=2" rel="icon">
{% block add_headers %}
<meta name='yandex-verification' content='4fd556d72b28cf32' />
{% endblock %}
{% block add_headers2 %}
{% endblock %}


{% load banertag %}
{% if is_edge == 1 %}
    {% get_baner megafon %}
{% endif %}
{% if is_edge == 2 %}
    {% get_baner beeline %}
{% endif %}
{% if is_edge == 3 %}
    {% get_baner mts %}
{% endif %}

</head>
<body>

  {% block header %}
  <div class="col-lg-12" id="header">
    <a href="/">{% trans 'Home' %} ⏎</a> | 
    {% block sub_header %}{% endblock %}
  </div>
  {% endblock %}
  {% block content %}
  {% endblock %}


<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}bootstrap/js/bootstrap.min.js"></script>
{% include "counters.html" %}
{% block footer_js %}
{% endblock %}
</body>
</html>
