{% extends "base.html" %}
{% load i18n %}
{% block title %}{% trans "Color" %}: {{ color }}{% if page.number > 1 %} {% trans "page" %} #{{ page.number }}{% endif %}{% endblock %}


{% block sub_header %}
Palette: {% for c in image.near_colors.all %}<a href="{% url 'by_color' color_id=c.get_color %}"><span style="background-color:{{ c }}; border:1px solid #fff;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></a>{% endfor %}
{% endblock %}


{% block content %}

{% include "image-list.html" %}

{% include "paginator.html" %}

{% endblock %}
