{% extends "base.html" %}
{% load i18n %}
{% block header %}
{% endblock %}
{% block title %}{% trans "Select palette" %}{% endblock %}
{% block content %}
<div class="home text-center">
  <h1>{% trans "Select palette" %}:</h1>

  <p>
	  This feature is disabled for now
	  {% comment %}
    {% for c in colors %}
    <a href="{% url 'by_color' color_id=c.get_color %}">
      <div style="background-color:{{ c }}; border:1px solid #fff; height:50px;" class="col-lg-1 col-md-2 col-sm-3 col-xs-4">&nbsp; </div>
    </a>
    {% endfor %}
	{% endcomment %}
  </p>
</div>
{% endblock %}
