{% extends "base.html" %}
{% load i18n %}
{% block title %}{% trans "Color" %}: {{ color }}{% if page.number > 1 %} {% trans "page" %} #{{ page.number }}{% endif %}{% endblock %}


{% block sub_header %}
<a href="{% url 'by_color' color_id=color.id %}">{% trans "Color" %} - {{ color }}</a> <span style="background-color:{{ color }}; border:1px solid #fff;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>

 | 
{% if page.has_previous == True %}
<a href='?p={{ page.previous_page_number }}' class='page_prev'>←</a>
{% endif %}
{% if page.number > 1 %} ({% trans "page" %} #{{ page.number }}){% endif %}
{% if page.has_next == True %}
<a href='?p={{ page.next_page_number }}' class='page_next'>→</a>
{% endif %}
 |
 Palette: {% for c in color.near_colors.all %}<a href="{% url 'by_color' color_id=c.get_color %}"><span style="background-color:{{ c }}; border:1px solid #fff;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></a>{% endfor %}
{% endblock %}


{% block content %}

{% include "image-list.html" %}

{% include "paginator.html" %}

{% endblock %}
