{% extends "base.html" %}
{% load i18n %}
{% block add_headers %}
{% include "add-headers.html" %}
{% endblock %}

{% block sub_header %}
<a href="{% url 'favorite' %}">{% trans "Favorite wallpapers" %}</a>{% if page.number > 1 %} ({% trans "page" %} #{{ page.number }}){% endif %}
{% endblock %}


{% block content %}

{% for f in images.object_list %}
{% with im=f.im %}
  <div class="item">
    {% include "image-item.html" %}
  </div>
{% endwith %}
{% empty %}
 <p>{% trans "empty" %}</p>
{% endfor %}


{% include "paginator.html" %}

{% endblock %}

