<div class="pull-left col-xlg-2 col-lg-3 col-md-4 col-sm-6 col-xs-12 image-item" >
  <a  target="_blank" href="{% url 'view_image' image_id=im.pk %}">
    <img src="{% if im.is_gif %}{{ im.image.url }}{% else %}{{ im.get_thumb_big }}{% endif %}" alt="Обои" class="image-r"/>
  </a>
</div>
