{% if user.is_authenticated %}    
<div class="pull-right" style="margin-top:10px;">
      <button class="btn" data-toggle="modal" data-target="#report-modal"> <i class="icon-flag"></i> Сообщить</button>
      
      <!-- report form -->
      <script>
      $( document ).ready(function() {

        $('#report-modal-form').on('submit', function(){

	  //Serialize the form and post it to the server
	  $.post("{% url 'report' image_id=im.pk %}", $(this).serialize(), function(){
	      $("#report-modal").modal('hide');
             
	  });


	  return false;
        });
      });
    </script>
    <div class="modal fade" id="report-modal" style="display:none;">
      <form id="report-modal-form" action="{% url 'report' image_id=im.pk %}" data-remote="true" method="post">
        {% csrf_token %}
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">На этой картинке:</h4>
              </div>
              <div class="modal-body">
                  {{ form.as_p }}
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Отмена</button>
                <button type="button submit" class="btn btn-success">Ok</button>
              </div>
            </div><!-- /.modal-content -->
          </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->
    </form>
    </div>
{% endif %}
