{% extends "base.html" %}
{% load i18n %}
{% block title %}{% trans "Wallpaper" %}. {% trans "Tags" %}:     {% for t in im.imageinfo.tags.all %}{{ t }}{% if forloop.last %}{% else %}, {% endif %}{% endfor %}{% endblock %}
{% block add_headers %}
<link rel="image_src" href="{{ im.image.url }}" />

<script>
  function f(imid) {
  var f_url = "/set-favorite/"+imid+"/";

      $.get(f_url, function(data) {
        $('#total-fav').html('('+data['total']+')');
        if (data['success'] == 0) {
          $('#fav-'+imid).addClass('icon-white');
        }
        if (data['success'] == 1) {
          $('#fav-'+imid).removeClass('icon-white');
        }
        });
  }

  function v(imid, v) {
  var vote_url = "/vote/"+imid+"?v="+v;
  var v_id = "#vote_" + imid;
  var old_vote = $(v_id).html();
  $(v_id).html('...');

  $.get(vote_url, function(data) {
  if (data['success'] == 0) {
  
  $('#already-'+imid).show(0);
  setTimeout(function(){
  $('#already-'+imid).hide(1000);
  }, 3000);
  $(v_id).html(old_vote);
  }
  if (data['success'] == 1) {
  $(v_id).html(data['vote']);
  $('#total-'+imid).html(data['total']);
  
  }
  });
  }
</script>


{% endblock %}
{% block header %}
{% endblock %}
{% block content %}

<div class="item">
  <a href="{{ im.image.url }}"><img src="{{ im.image.url }}" alt="{% trans "wallpapers" %}" class="image-r image-s"/></a>
</div>


<div class="col-lg-12">


  <div class="col-lg-6">
    <a href="/">{% trans "Home" %} ⏎</a> | 
    [<a href="{% url 'by_size' width=im.width height=im.height %}">{{ im.width }}x{{ im.height }}</a>]

    &nbsp;&nbsp;&nbsp;
    <span title="{% trans "Add to favorites" %}">
      <span id="fav-{{ im.pk }}" {% if user.is_authenticated %}onclick="f({{ im.get_pk }});"{% endif %} class="{% if is_fav %}icon-white{% endif %} pointer glyphicon glyphicon-heart" aria-hidden="true"></span> <span id="total-fav">({{ favs }})</span>
    </span>
    &nbsp;
    <span title="{% trans "Views" %}"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span> ({{ views }})</span>

  </div>
  <div class="col-lg-6" title="{% trans 'Total votes' %}: {{ im.get_total_votes }}">
    <span class="pointer glyphicon glyphicon-thumbs-up" onclick="v({{ im.pk }}, 2);"></span>
    <b id="vote_{{ im.pk }}">{{ im.pvote }}</b>% 
    <span class="pointer glyphicon glyphicon-thumbs-down" onclick="v({{ im.pk }}, 0);"></span>
  </div>

  <br />
  <div class="col-lg-6">
    {% trans "Tags" %}: {% for t in im.imageinfo.tags.all %}
    <a href="{% url 'by_tag' tag_id=t.pk %}">{{ t }}</a>
    {% endfor %}
  </div>
  <div>
	  {% comment %}
      {% trans "colors" %}: {% for c in im.pallete.all %}
	  <span style="background-color:{{ c }}; border:1px solid #fff;"><a href="{% url 'by_color' color_id=c.get_color  %}">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a></span>{% if forloop.last %}{% else %}, {% endif %} {% endfor %}
	  {% endcomment %}
  </div>
</div>

{% endblock %}
