{% extends "base.html" %}
{% load i18n %}
{% block header %}
{% endblock %}

{% block content %}
<div class="home text-center">
  <h1>{% trans 'Welcome to wallpapers database' %}</h1>
  <p>{% trans 'Total wallpapers' %}: <b>{{ total }}</b>, {% trans 'Added today' %}: <b>{{ added_today }}</b></p>

  <p>
    <a href="{% url 'new' %}">{% trans "New wallpapers" %}</a> |
    <a href="{% url 'random' %}">{% trans "Random wallpapers" %}</a> |
    <a href="{% url 'live' %}">{% trans "Live" %}</a>
  </p>
  <p>
    {% trans "Size" %}: <a id="s-1920x1200" href="{% url 'by_size' width=1920 height=1200 %}">1920x1200</a>, 
    <a id="s-1920x1080" href="{% url 'by_size' width=1920 height=1080 %}">1920x1080</a>, 
    <a id="s-1680x1050" href="{% url 'by_size' width=1680 height=1050 %}">1680x1050</a>, 
    <a id="s-1600x900" href="{% url 'by_size' width=1600 height=900 %}">1600x900</a>, 
    <a id="s-1440x900" href="{% url 'by_size' width=1440 height=900 %}">1440x900</a>, 
    <a id="s-1366x768" href="{% url 'by_size' width=1366 height=768 %}">1366x768</a>, 
    <a id="s-1360x768" href="{% url 'by_size' width=1360 height=768 %}">1360x768</a>, 

    <a id="s-1280x1024" href="{% url 'by_size' width=1280 height=1024 %}">1280x1024</a>, 
    <a id="s-1280x800" href="{% url 'by_size' width=1280 height=800 %}">1280x800</a>, 
    <a id="s-1152x864" href="{% url 'by_size' width=1152 height=864 %}">1152x864</a>, 
    <a id="s-1024x768" href="{% url 'by_size' width=1024 height=768 %}">1024x768</a>
  </p>
  <p>
    {% trans "Random tags" %}: 
    {% for t in tags %} <a href="{% url 'by_tag' tag_id=t.id %}">{{ t }}</a>{% if forloop.last %} {% else %}, {% endif %}{% endfor %}
    
  </p>
  <p>
    {% trans "Popular tags" %}: 
    {% for t in ptags %} <a href="{% url 'by_tag' tag_id=t.id %}">{{ t }}</a>{% if forloop.last %} {% else %}, {% endif %}{% endfor %}
    
  </p>
  <p>
	  {% include "tag-search-form.html" %}
      <br />
  </p>
  <p>
    {% trans "Random colors" %}:
    {% for c in colors %}
    <a href="{% url 'by_color' color_id=c.get_color %}" class="nounderline">
      <span style="background-color:{{ c }}; border:1px solid #fff; height:30px; width:50px">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
    </a>
    {% endfor %}

  </p>
  <p>
    {% if user.is_authenticated %}
    <a href="{% url 'favorite' %}">{% trans "Favorite wallpapers" %}</a>
    {% else %}
    <a href="{% url 'login' %}">{% trans "Login/Auth" %}</a>
    {% endif %}
  </p>
  <p>

  </p>
  <div class="col-lg-12">
    <h3>{% trans "Last added" %}:</h3>
    {% include "image-list.html" %}
  </div>

  <div class="col-lg-12">
	  
      <p>&nbsp;</p>
      <p><a target="_blank" href="http://webii.ru/">webii lab</a></p>
      <p>
		  Спонсоры:
		  <a target="_blank" href="http://gdz.wtf/">ГДЗ</a>, 
		  <a target="_blank" href="https://fastek.link/">fastek.link &mdash; электронные сигареты</a>, 
		  <a target="_blank" href="http://stost.ru/f/652/tswnyzm.html">Поздравления с Новым Годом!</a>,
	  </p>
      <div class="pull-right">

		  <form action="{% url 'set_language' %}" method="post">
          {% csrf_token %}
          {% trans "Select language" %}: <input name="next" type="hidden" value="{{ redirect_to }}" />
          <select name="language">
            {% get_language_info_list for LANGUAGES as languages %}
            {% for language in languages %}
            <option value="{{ language.code }}"{% if language.code == LANGUAGE_CODE %} selected="selected"{% endif %}>
              {{ language.name_local }}
            </option>
            {% endfor %}
          </select>
          <input type="submit" value="Go" />
        </form>
    </div>
  </div>
</div>
<script>
  var s = 's-' + screen.width+'x'+screen.height;
  var ac = document.getElementById(s);
  ac.setAttribute("class", 'active-size'); 
  ac.setAttribute("className", 'active-size');
</script>

{% endblock %}
