{% extends "base.html" %}
{% load i18n %}
{% block sub_header %}<a href="{% url 'live' %}">Live</a>{% endblock %}

{% block content %}

<div id="content">
</div>
<div class="col-lg-12" id="please-wait">
		{% trans 'Please wait' %}

</div>
{% endblock %}

{% block footer_js %}
<style>
.hidden {
   display:none;
}
</style>
<script>
$(function(){
   $.data(document.body, 'i', 1);
});

function updateWalls(){
    var last_id = $.data(document.body, 'i');
    var new_id = last_id + 1;
    var del_id = last_id - 8;
	var w = $(window).width();
	var c = 2
	if (w > 991)  { c = 3; }
	if (w > 1200)  { c = 4; }
	if (w > 1600) { c = 5; }

    $('#content').prepend('<div class="col-md-12" id="o'+new_id+'" style="min-width:500px; min-height:200px;" ></div>');
 
	$.get( "{% url 'random_images' %}?c="+c, function( data ) {
	  $.each(data, function() {
        $('#o'+new_id).append('<div id="d'+this['pk']+'" class="pull-left col-xlg-2 col-lg-3 col-md-4 col-sm-6 col-xs-12 image-item"></div>');
    	$('#d'+this['pk']).append('<a  id="a'+this['pk']+'"target="_blank" href="'+this['url']+'"></a>');
	    $('#a'+this['pk']).append('<img src="'+this['image']+'" alt="Обои" class="image-r"/>');
		});
      if (new_id > 1) {
         $('#please-wait').html('');
      }
		
	});


    $('#o'+del_id+'').hide();
    $('#o'+new_id+'').hide();
    $('#o'+new_id+'').load();

    $('#o'+new_id+'').show('slow');
 	
    $('#o'+del_id+'').remove();
    $.data(document.body, 'i', new_id);

}

updateWalls();
setInterval( "updateWalls()", 6000 );

</script>

{% endblock %}
