{% extends "base.html" %}
{% load i18n %}
{% block title %}{% trans "New wallpapers" %}{% if page.number > 1 %}, {% trans "page" %} #{{ page.number }}{% endif %}{% endblock %}
{% block sub_header %}
<a href="{% url 'new' %}">{% trans "New wallpapers" %}</a>

 | 
{% if page.has_previous == True %}
<a href='?p={{ page.previous_page_number }}' class='page_prev'>←</a>
{% endif %}
{% if page.number > 1 %} ({% trans "page" %} #{{ page.number }}){% endif %}
{% if page.has_next == True %}
<a href='?p={{ page.next_page_number }}' class='page_next'>→</a>
{% endif %}
{% endblock %}
{% block content %}

{% include "image-list.html" %}

{% include "paginator.html" %}

{% endblock %}
