<div class="pagination w100 pull-left">
<ul class="pagination">
  {% if page.has_previous == True %}
  <li><a href='?p={{ page.previous_page_number }}' class='page_prev'>←</a></li>
  {% endif %}

  {% for p in page_range %}
   <li {% if p == page.number %}class="active_page"{% endif %}><a href="?p={{ p }}" class='page{% if p == page.number %} text-muted active_page{% endif %}'>{{ p }}</a></li>
  {% endfor %}

  {% if page.has_next == True %}
   <li><a href='?p={{ page.next_page_number }}' class='page_next'>→</a></li>
  {% endif %}
</div>
