{% extends "base.html" %}
{% load i18n %}

{% block content %}
	<div class="col-md-12">
		{% include "tag-search-form.html" %}

		<hr />
		<h3>{% trans 'Search results' %}:</h3>
		<ul>
		{% for t in tags %}
			<li><a href="{% url 'by_tag' tag_id=t.pk %}">{{ t }}</a> ({{ t.count }}) </li>
		{% empty %}
			{% trans 'No tags found' %}
		{% endfor %}
		</ul>
	</div>
{% endblock %}
