{% extends "base.html" %}
{% load i18n %}
{% block header %}
{% endblock %}

{% block content %}
<div class="home text-center">
  <h1>{% trans "Wallpaper sizes" %}:</h1>

  <p>
    <ul class="sizes">
    {% for s in sizes %}
    <li id="s-{{ s.width }}x{{ s.height }}"><a href="{% url 'by_size' width=s.width height=s.height %}">{{ s.width }}x{{ s.height }}</a>{% if forloop.last %}{% else %}, {% endif %}</li>
    {% endfor %}
    </ul>
  </p>
</div>
<script>
var s = 's-' + screen.width+'x'+screen.height;
var ac = document.getElementById(s);
ac.setAttribute("class", 'active-size'); 
ac.setAttribute("className", 'active-size');
</script>
{% endblock %}
