{% extends "base.html" %}
{% load i18n %}
{% block title %}{% trans "Best wallpapers" %}{% endblock %}
{% block content %}
{% for im in images %}
  <div class="item">
    {% include "image-item.html" %}
  </div>
  {% endfor %}
  {% if images %}
  <div class="item">&nbsp;</div>
  {% endif %}

{% endblock %}
