{% extends "base.html" %}
{% load i18n %}
{% block content %}

<div class="col-lg-12 text-center">
    {% if user.is_authenticated %}
    {% trans 'Welcome' %} {{ user }}!
    {% else %}
    {% if sended %}

    <p>{% trans 'In your e-mail be sent a link to login. Click on the link in the email to log in.' %}</p>
    <p>{% trans "In case of problems write an email to: info@wp-b.com" %} </p>
    {% else %}

    <div id="login_form_div">
      <p class="indent">{% trans 'Enter email address' %}:</p>
      <form id="login_form" action="" method="post">{% csrf_token %}
        <p>{{ form.email|safe }}
          <br /><button id="id_login" type="submit" class="btn">{% trans "Enter/Auth" %}</button></p>
      </form>
    </div>
    <p class="indent">
      {% trans "Login and register on our site are no different. In order to get in (or register), enter your email address. We will send a link to access the site. Whenever you need to enter, we will send a letter with a disposable link to login." %}
    </p>
    <p class="indent">
      {% trans "In this way, you will not need to memorize / store the password from our site, worried that it is stolen, etc. you enough not to lose access to email." %}
    </p>
</div>
  {% endif %}
  {% endif %}

  {% endblock %}
