body {
    margin: 0px;
    padding: 0px;

    background-color:#222222!important;
}
body, html {
  height: 100%;
  color:gray!important;
}

.pointer {
	cursor: pointer;
}
.icon-white {
	color:white;
}
.image-r {

}
.image-item {
    height:200px;
    overflow:hidden;
    margin-bottom:10px;
    padding-left:5px!important;
    padding-right:5px!important;
}
.image-item img {
    min-height:100%;
    min-width:100%;
}

 @media (min-width: 1601px) {
    .col-xlg-2 {
	width: 20%!important;
    }
  }



h1 {
    font-size:2em!important;
    color:#ECECEC!important;
}
a:hover {
    color:white!important;
}
.w100 {
    width:100%;
}
.pagination {
    text-align:center;
}

.pagination > li > a, .pagination > li > span {
    background-color:black!important;
    color:gray!important;
    border: 1px solid gray!important;
	width:3em;
	padding:2em;

}
.pagination > li > a:hover {
    background-color:gray!important;
    color:#fff!important;
}
.pagination > li > a.active_page {
    color:#fff!important;
}
.pagination > li > a.active_page:hover {
    background-color:gray!important;
}

.pagination > li > span {
}
ul.sizes li{
    display:block;
    width:100px;
    float:left;
}
ul.sizes {
    list-style:none;
    display:block;
}
.active-size, .active-size a{
    color:#fff;
}
.centered{
    margin-left:auto!important;
    margin-right:auto!important;
}
a.nounderline:hover {
    text-decoration:none;
}
#id_email {
    width:50%;
    padding:10px;
    margin:15px;
}
.image-s {
    max-width:100%;
}
